.light-300 {
    font-family: 'Open Sans', sans-serif !important;
    font-weight: 300;
  }
  .regular-400 {
    font-family: 'Open Sans', sans-serif !important;
    font-weight: 400;
  }
  .semi-bold-600 {
    font-family: 'Open Sans', sans-serif !important;
    font-weight: 600;
  }
  .typo-space-line::after,
  .typo-space-line-center::after {
    content: "";
    width: 150px;
    display:block;
    position: absolute;
    border-bottom:  5px solid #6266ea;
    padding-top: .5em;
  }
  .typo-space-line-center::after {
    left: 50%;
    margin-left: -75px;
  }